<%= form_tag sessions_path do %>
<div class="field">
<%= label_tag :email %>
<%= text_field_tag :email,nil, :value => 'usuario@gmail.com' %>
</div>
<div class="field">
<%= label_tag :password %>
<%= password_field_tag :password,nil, :value => 123456%>
</div>
<div class="actions"><%= submit_tag "Log in" %></div>
<% end %> 