<div class="row">
  <div class="col-xs-12">              
    <div class="box">
      <div class="box-header text-center">
        <h3 class="box-title">Lista de Articulos</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="productos" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <% @products.each do |product| %>
          <tbody>
            <tr>
              <td><%= product.nombre %></td>
              <td><%= number_to_currency(product.precio) %></td>
              <td><%= link_to '<i class= "fa fa-pencil fa-2x"></i>'.html_safe, edit_product_path(product), class: 'btn btn-social-icon btn-tumblr' %>
              <%= button_to  product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class: 'btn btn-social-icon btn-tumblr borrar_producto' do  %>
                <i class= "fa fa-trash fa-2x"></i>
              <%end%>
              </td>
            </tr>           
          </tbody>
          <% end %>                   
        <%= will_paginate @products, previous_label: "Anterior", next_label: "Siguiente", class: 'flickr_pagination pull-right '%>

        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->