<%content_for :stylesheet do%>
<%=stylesheet_link_tag "app"%>
<%end%>
<%= render 'menu/menu'%>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <section class="content-header">
    <ol class="breadcrumb" id="miniguia">
      <li>
        <%= link_to "<i class='fa fa-file-text'></i> Articulo".html_safe, :products, id:'submenu' %>
      </li>
      <li class="active" id="submenu2">Nuevo</li>
    </ol>
  </section>
    <!-- Main content -->
  <section class="content">
  <% flash.each do |name, msg| %>  
    <%= content_tag :div, msg, :id => "flash_#{name}" %>    
  <% end %>
  <div class="box box-primary" id="panel">  
    <h1 class="text-center">Agregar Articulo</h1>
	<%=form_for @product do |f|%>
		<div class="row">
			<div class="col-md-4"></div>
			<%=render 'form', f: f%>
  	</div>
  	<div class="text-center">
  		<div class="form-group">
    			<%= f.submit "Agregar", class: 'btn btn-app', id:'btn-formu' %>
  		</div>
  	</div>
 	<%end%>
  </div>  
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<%= render 'menu/footer'%>
<% content_for :javascript do %>
<%=javascript_include_tag "products"%>
<%=javascript_include_tag "jquery.validate.min.js"%>

<%end%>
