<!DOCTYPE html>
<html>
<head>
  <title>Facturacion</title>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<% if params[:format] && params[:format] == 'pdf' %>
  <%=wicked_pdf_stylesheet_link_tag "all-skins"%>
  <%=wicked_pdf_stylesheet_link_tag "AdminLTE"%>
  <%=wicked_pdf_stylesheet_link_tag "bootstrap"%>
  <%=wicked_pdf_javascript_include_tag "jquery"%>
  <%=wicked_pdf_javascript_include_tag "application"%>
<% else %>
  <%=stylesheet_link_tag "all-skins.css"%>
  <%=stylesheet_link_tag "AdminLTE.css"%>
  <%=stylesheet_link_tag "bootstrap.css"%>
  <%=javascript_include_tag "jquery.js"%>
  <%=javascript_include_tag "application.js"%>
<% end %>
  <%=yield :stylesheet%>
</head>
<body class="skin-blue">
<%=yield :body_head%>

<%= yield %>

<%=javascript_include_tag "app.min.js"%>
<%=javascript_include_tag "bootstrap.js"%>
<%=yield :javascript%>
</body>
</html>
