<!DOCTYPE html>
<html>
<head>
  <title>Facturacion</title>
  <%=stylesheet_link_tag "bootstrap.css"%>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <%=stylesheet_link_tag "_all-skins.min.css"%>
  <%=stylesheet_link_tag "AdminLTE.css"%>
  <%=stylesheet_link_tag "bootstrap.css"%>

  <%=javascript_include_tag "jquery.js"%>
  <%=javascript_include_tag "application.js"%>
  <%=yield :stylesheet%>
</head>
<body class="skin-blue">
<%=yield :body_head%>

<%= yield %>

<%=javascript_include_tag "app.min.js"%>
<%=javascript_include_tag "bootstrap.js"%>
<%=yield :javascript%>
</body>
</html>
